
		* {
 		 box-sizing: border-box;
	     margin: 0px;
		 padding: 0px;
		}		
		.container {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			
			min-height: 100%;
			min-width: 100%;  
			}
		body {
			min-height: 100%;
			margin: 0px;
			padding: 0px;
			display: flex; 
		}
		.header {
			display: flex;
			justify-content: flex-end;
			
		}
		a {
		color: rgb(39,39,39);
		text-decoration: none;
		font-family: arial, sans-seriph;
		font-size: 12px;
		padding-right: 8px;
		padding-left: 8px;
		margin: 0px;
		height: 30px;
		}

		a:hover 	{
		text-decoration: underline;
		}

		.connexion input {
		background-color: rgb(69,134,236);
		color: white;
		width: 100px;
		height: 30px;
		border: none;
		border-radius: 2px;
			font-size: 12px;
		}

		.mid {
 		 order: 2;
 		 text-align: center;
 		 max-width: 600px;
 		 margin-right: auto;
 		 margin-left: auto;
   		 padding-bottom: 180px;
		}
		
		.logoG {
				display: inline-block;
			
		}	
		.logo {
		justify-content: center;
		 height: 100px;
		 width: auto;
 
		}
		.searchbar{
		display: flex;
		align-content: center;
			justify-content: center;
		background-color: #ffffff ;
		font-size:13px;
		border-color: #dddddd;
		border-width: 800px;
		}

		
		.searchbar input[type=text] {
		 display: flex;
		align-content: center;
			justify-content: center;
		 background-color: ;
		 line-height: 34px;
		 font: 16px arial,sans-serif;
		 height: 40px;
		 width: 500px;
		 box-sizing: border-box;   
		 font-family: Lato; 
		 font-size: 20px;  
		 font-weight: normal;   
 		 letter-spacing: 1px
 		 border-style: solid;
		}

		.search {
		display: flex;
		align-items: center;
		justify-content: center;

		}

		#bar {
	padding-bottom: 30px;
	padding-top: 0px;
}
		.boutton input {
		width: 500px;
	height: 40px;
	color: black;
	font-size: 20px;
	z-index: 1;
	border: none;
    padding: 10px;
    margin: 10px;
    border:1px solid #eaeaea;
    outline:none;
		}
		.boutton input {
		 background-color: #f2f2f2;
		 border: 1px solid #f2f2f2;
		 font-family: arial,sans-serif;
		 margin: 11px 4px;
    	 min-width: 54px;
    	 padding: 0 16px;
    	 text-align: center;
    	 border-radius: 2px;
    	 color: #757575;
    	 height: 38px;
    	 width: 150px;
    	 font-weight: bold;
  		 font-size: 13px;
		}

		.footer {
		display: flex;
		flex-direction: row;
		order: 3;
		height: 40px;
		background-color: rgb(242,242,242);
		color: rgb(102,102,102);
		text-decoration: none;
		}
		.droi<<te{
		margin-left: auto;
		line-height: 40px;
		}


	.gauche {
	line-height: 40px;
	